.wrapper {
    text-align: center;
}

.button {
    background-color: #965496; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    padding: 20px 60px;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin:auto;
    display:block;
    font-family: 'Amatic SC', cursive;
  }